/*
  1. Use a more-intuitive box-sizing model.
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
  font-family: mono;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --color-primary-100: #ffffff;
  --color-primary-200: #5a45f2;
  --color-primary-300: #000000;
  --color-neutral-100: #dae9ef;
  --color-neutral-200: #5f6974;
  --color-neutral-300: #e5e5e5;

  --max-width-desktop: 1110px;

  --ff-primary: "Rubik", sans-serif;
  --ff-body: var(--ff-primary);
  --fs-body: var(--fs-200);

  --fs-100: 0.8rem;
  --fs-200: 0.875rem;
  --fs-300: 1.5rem;

  --fw-regular: 300;
  --fw-bold: 500;
  --fw-extra-bold: 700;
}

body {
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-items: stretch;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  color: var(--color-primary-300);
  background-color: var(--color-neutral-300);
}

ul {
  padding-left: 0;
  list-style-type: none;
}

.container-standard {
  max-width: var(--max-width-desktop);
  margin: 1rem auto;
}

.flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.results {
  padding: 0 0.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-gap: 1rem 1rem;
}

.card {
  display: grid;
  grid-template-rows: 15rem auto;
  font-size: var(--fs-100);
  font-weight: var(--fw-regular);
  border: 1px solid hsla(191, 23%, 77%, 0.9);
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.2rem 0.5rem hsla(191, 23%, 77%, 0.9);
  overflow: hidden;
  transition: all 0.1s ease-in;
}

.card:focus-within,
.card:hover {
  transform: scale(1.04);
}

.card__superior {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__inferior {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

