.modal {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
  display: grid;
  place-items: center;
  backdrop-filter: blur(0.15rem);
}

.modal:empty {
  display: none;
}

.modal > div {
  max-width: 500px;
  font-size: var(--fs-200);
  text-align: center;
  border-radius: 0.5rem;
  background-color: var(--clr-neutral-100);
  animation: toFront 0.45s ease-out both;
  border: 1px solid var(--clr-neutral-500);
}

@keyframes toFront {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
